<aside class="sh"><img src="images/mainimg_s.jpg"></aside>

<div id="menu-box">
<!--PC用（481px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li class="menu1"><a href="flow.html">施工の流れ<span>お掃除が完了するまでの流れ</span></a></li>
<li class="menu2"><a href="works.html">施工事例<span>過去施工した一部の現場です</span></a>
    <ul class="ddmenu">
    <li class="ddmenu1"><a href="works1.html">マンションA<span>3LDK 75m</span></a></li>
    <li class="ddmenu2"><a href="works1.html">アパートB<span>1DK 33m</span></a></li>
    <li class="ddmenu3"><a href="works1.html">C様宅<span>一戸建て 124m</span></a></li>
    <li class="ddmore"><a href="works.html">もっとみる</a></li>
	</ul>
</li>
<li class="menu3"><a href="faq.html">FAQ集<span>よく頂く質問です</span></a></li>
<li class="menu4"><a href="contact.html">お問い合わせ<span>お気軽にどうぞ</span></a></li>
</ul>
</nav>
<!--スマホ用（480px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li class="menu1"><a href="flow.html">施工の流れ<span>お掃除が完了するまでの流れ</span></a></li>
<li class="menu2"><a href="works.html">施工事例<span>過去施工した一部の現場です</span></a></li>
<li class="menu3"><a href="faq.html">FAQ集<span>よく頂く質問です</span></a></li>
<li class="menu4"><a href="contact.html">資料請求<span>お気軽にどうぞ</span></a></li>
</ul>
</nav>
</div>
<!--/menubox-->
