<aside class="sh"><img src="images/mainimg_s.jpg"></aside>

<div id="menu-box">
<!--PC用（481px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li class="menu1"><a href="flow.html">施工の流れ<span>お家が完成するまでの流れ</span></a></li>
<li class="menu2"><a href="works.html">建築事例<span>お客様の家のご紹介です</span></a>
    <ul class="ddmenu">
    <li class="ddmenu1"><a href="works1.html">A様宅<span>XX市：3人家族</span></a></li>
    <li class="ddmenu2"><a href="works1.html">B様宅<span>XX市：5人家族：2世帯住宅</span></a></li>
    <li class="ddmenu3"><a href="works1.html">C様宅<span>XX市：2人家族</span></a></li>
    <li class="ddmore"><a href="works.html">もっとみる</a></li>
	</ul>
</li>
<li class="menu3"><a href="faq.html">FAQ集<span>よく頂く質問です</span></a></li>
<li class="menu4"><a href="contact.html">お問い合わせ<span>お気軽にどうぞ</span></a></li>
</ul>
</nav>
<!--スマホ用（480px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li class="menu1"><a href="flow.html">施工の流れ<span>お家が完成するまでの流れ</span></a></li>
<li class="menu2"><a href="works.html">建築事例<span>お客様の家のご紹介です</span></a></li>
<li class="menu3"><a href="faq.html">FAQ集<span>よく頂く質問です</span></a></li>
<li class="menu4"><a href="contact.html">資料請求<span>お気軽にどうぞ</span></a></li>
</ul>
</nav>
</div>
<!--/menubox-->
